*{
  margin: 0;
  font-family: sans-serif;
  border: border-box;
}



/**box1**/
.navbar{
  height: 60px;
  width: 100%;
  background-color: #161616;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.nav-menu{
  color: white;
  font-size:1rem;
  padding-left: 5px;
  
}

.nav-logo{
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}
.logo{
  background-image: url(logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 35px;
  width: 65px;
  position: relative;
  top:15px;

}
/**bo2**/
.nav-search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

input{
  width: 300px;
  background-color: #3b3b3b;
  font-size: 1.2rem;
  color: white;
}
.search-icon{
  color: #FFc019;
  position: relative;
  right: 20px;
}
/**box3**/
.navbar-2{
  height: 60px;
  width: 100%;
  background-color:#2C2424;
  display: flex;
  align-items: center;
}

.nav{
  height: 30px;
  width: 100%;
  background-color: #FFC019;
  display: flex;
  align-items: center;
  

  

}

.nav-logo2{
  height: 30px;
  width: 30px;
}

.logo-2{
  height: 30px;
  width: 30px;
  background-image: url(naruto.jpg);
  background-size: 100% 100%;
  
}

/**box4**/
.nav-text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  
}

span{
  margin-left :10px;
  color: white;
  display:inline-block ;
}

p{
  margin-left:10px;
  color: #7a5907;
}

/**box5**/
 
 .nav-2{
   height: 20px;
   width: 100%;
   display: flex;
   justify-content: end;
 }



.nav-box  {
  height: 20px;
  width: 200px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-box a{
  margin-right:10px;
  text-decoration:none;
  color: #000000;
  
  
  
}
.nav-box a:hover{
  height: 100%;
  width: 20px;
  background-color:green;
  text-align: center;
  transition: 1s;
 }
 
 .main-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #161616;
/*  border-left: 1px solid white;
  border-bottom: 1px solid white;*/
  border: 1px solid white;
 }
 
 .body{
  height: 300px;
  width:20% ;
  background-color:#161616;
  
 }
 
 .body-content{
  margin-left:1rem;
  margin-right: 1rem;
 }
 
 .body-img{
  height: 200px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom:1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  
 }
 
 h6{
  color: #FFC019;
  position: relative;
  bottom: 10px;
  display:flex;
  justify-content: center;
  
}

.body-text1 {
  height: 20px;
  width: 100%;
  color: #FFC019;
  display: flex;
  justify-content: center;
  margin: 0px;
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0) 12%, rgba(0,0,0,0) 14%, rgba(9,8,8,1) 100%);
  
}

.body-text2{
  
  color: white;
  text-align:center;
  position: relative;
  top: 14px;
  font-size:0.65rem;
  margin: 0px;
  font-weight: 700;
}

/**footer**/

.navbar-3{
  height: 60px;
  width: 100%;
  background-color:#161616;
  display: flex;
  align-items: center;
  padding: 10px 0 0 0;
}

aside{
  min-height: 100px;
  width: 100%;
  background-color:#161616;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  

  
}

.footer-nav span{
  color: black;
  font-weight: 700;
}

.footer-mid{

  min-height: 630px;
  width:489.2px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  display: column;
  position: relative;
  bottom: 15px;
}

.footer-pic{
  background-image: url(One-piece.jpg);
  height: 100px;
  width: 100px;
  background-size:100% 100%;
  position: relative;
  top: 40px;
  left: 20px;
  margin: 0 0 20px 0 ;
}

.txt{
  position:relative ;
  left: 100px;
}

.div-text {
  color: #fff;
  background-color: #161616;
  width: 100%;
  height: 100%;
  display: flex;
  border-top:0px;
  

}

.div-text p{
  color: #fff;
  text-transform: uppercase;


}
footer{
  display: flex;
  
}
  
@media only screen and (max-width: 550px) {
   html{
    width: 120%;
  }
  aside{
    display: flex;
    justify-content: space-between;
  }
  span{
    line-height: 15px;
  }
  .main-body{
    display: flex;
    flex-wrap:wrap;
  }
  .body{
    width: 30%;
  }
  .body-img{
    background-size: 100% 100%;
  }
  
  
  
}

@media screen and (min-width:420px) {
  
  .txt-2{
    display: none;
  }
}